<?php

return array(
    'googlesso' => array(
        'client_id' => '484785189087-6gjh8mc44tmct68gs7vsje7tf5qebgc3.apps.googleusercontent.com',
        'client_secret' => '-ExW6DGwai_I9Nv-1ueYAKPi'
    )
);
